.tech-stack-box {
    background-color: #ededed;
}

.tech-stack-div {
    display: inline-flex;
    margin: 10px;
}

.tech-stack-div > div {
    text-align: center;
}

.tech-stack-img {
    height: 150px;
    padding: 1.5rem;
}
